@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* style.css */

:root {
    --PRIMARY_COLOR_DARK: #0D7C66;
    --PRIMARY_COLOR_MEDIUM: #41B3A2;
    --PRIMARY_COLOR_LIGHT: #BDE8CA;
    --TEXT_COLOR_DARK: #232F34;
    --TEXT_COLOR_MEDIUM: #4A6572;
    --TEXT_COLOR_LIGHT: #C5D3DA;
    --SUCCESS_COLOR: #28C76F;
    --WARNING_COLOR: #FF9F43;
    --INFO_COLOR: #00BAD1;
    --PAGE_BG: #F8F7FA;
    --BORDER_LIGHT: #D1D0D4;
    --WHITE: #FFFFFF;
}

/* Reset some default spacing */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

/* Body styling */
body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #f8f9fa;
  color: #212529; */
  line-height: 1.6;
  letter-spacing: 0.3px;
}

.section_heading{
  color: var(--PRIMARY_COLOR_DARK);
  font-size: 24px;
  font-weight: 600;
}
.section_subheading{
  color: var(--TEXT_COLOR_MEDIUM);
  font-size: 18px;
  font-weight: 500;
}
.content{
  color: var(--TEXT_COLOR_DARK);
  font-size: 15px;
  font-weight: 400;
}

.secondary_btn{
  color: var(--PRIMARY_COLOR_DARK);
  font-size: 14px;
  font-weight: 500;
  padding: 8px 24px;
  border-radius: 6px;
  border: 1px solid var(--PRIMARY_COLOR_DARK);
  transition: 0.3s ease-in-out;
}
.secondary_btn:hover{
  color: var(--WHITE);
  background: var(--PRIMARY_COLOR_DARK);
  border: 1px solid var(--PRIMARY_COLOR_DARK);
}

/* Header styling */
header {
  background: linear-gradient(90deg, #EDF7FE 1.15%, #BDE8CA 100%);
  color: white;
  padding: 5px 0;
  text-align: center;
}
header section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1{
  color: var(--TEXT_COLOR_DARK);
  font-size: 21px;
  font-weight: 600;
  text-align: left;
}
header p{
 color: var(--TEXT_COLOR_DARK);
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}

/* Navbar styling */
Nav{
  height: 40px;
  background: var(--PRIMARY_COLOR_DARK);
  box-shadow: 0px 4px 10px 4px rgba(255, 255, 255, 0.15);
}
.menu{
  justify-content: space-between;
}
.menu ul .nav-item{

}
.menu ul .nav-item .nav-link{
  font-size: 14px;
  color: var(--WHITE);
  margin: auto 16px;
}
.menu ul .nav-item .nav-link.active{
  border-bottom: 2px solid var(--WHITE);
}

/* Banner styling */
.banner_indicators button{
  width: 16px !important;
  height: 16px !important;
  border: 1px solid var(--PRIMARY_COLOR_DARK) !important;
  border-radius: 16px !important;
}
.carousel-inner .carousel-item .banner_caption{
  right: auto;
  bottom: auto;
  top: 0;
  transform: translateY(calc(100% - 70px));
  text-align: start;
}
.carousel-inner .carousel-item .banner_caption h5{
  font-size: 48px;
  font-weight: 600;
  font-style: italic;
  text-shadow: 4px 4px 4px var(--PRIMARY_COLOR_DARK);
}


/* Announcement marquee container */
.announcement-header{
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4%;
  background-color: var(--PRIMARY_COLOR_DARK);
}
.announcement-header .announcement-label{
  color: var(--WHITE);
}
.announcement-container {
  height: 40px;
  padding-top: 4px;
  padding-bottom: 7px; 
  overflow-x: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: grab;
  background-color: var(--PRIMARY_COLOR_LIGHT);
  /* border-bottom: 1px solid #e5e7eb; */
  /* padding-bottom: 0.5rem; */
}
.announcement-container:active {
  cursor: grabbing;
}
.announcement-item {
  display: inline-flex;
  align-items: center;
  padding: 0 !important;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 0.875rem;
  font-weight: 400;
  white-space: nowrap;
  color: #111827;
  user-select: none;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  position: relative;
}
.new-announcement-item{
  width: 36px;
  height: auto;
  position: absolute;
  left: -36px;
  display: inline-block;
}
.announcement-item::before {
  font-family: 'Font Awesome 6 Free'; /* or 'Font Awesome 6 Pro' if using Pro */
  content: "\f111";
  font-size: 8px;
  font-weight: bold;
  text-decoration: none !important;
  color: var(--TEXT_COLOR_DARK);
  display: inline-block;
  width: 1em;
  margin-left: 0.5em;
  padding-right: 16px;
}
.announcement-item:hover{
  text-decoration: underline;
  font-weight: 600;
}
.announcement-label {
  font-weight: 600;
  font-size: 1.125rem;
  margin-right: 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}
.announcement_line{
  display: flex;
  align-items: center;
}

/* Leader styling */
.leader_action{
  padding: 20px 0;
}
.leaders{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.leaders .leader_card{
  display: flex;
  align-items: center;
}
.leaders .leader_card .leader_img{
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--PRIMARY_COLOR_DARK);
  margin-right: 8px;
}
.leaders .leader_card .leader_detail{

}
.leaders .leader_card .leader_detail h6{
  color: var(--PRIMARY_COLOR_DARK);
  font-size: 18px;
  font-weight: 700;
}
.leaders .leader_card .leader_detail p{
  color: var(--TEXT_COLOR_MEDIUM);
  font-size: 13px;
  font-weight: 600;
  text-align: left;
}

/* Action btn styling */
.action_btns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.action_btns button{
  width: 110px;
  height: 110px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transition: 0.3s ease-in-out; */
  transition: box-shadow 0.3s ease;
}
.action_btns button:first-child{
  background-color: var(--PRIMARY_COLOR_DARK) !important;
  border: 1px solid var(--PRIMARY_COLOR_DARK) !important;
}
.action_btns button:nth-child(2){
  background-color: var(--PRIMARY_COLOR_MEDIUM) !important;
  border: 1px solid var(--PRIMARY_COLOR_MEDIUM) !important;
}
.action_btns button:last-child{
  background-color: var(--PRIMARY_COLOR_LIGHT) !important;
  border: 1px solid var(--PRIMARY_COLOR_LIGHT) !important;
}
.action_btns button img{
  max-width: 36px;
  max-height: 36px;
  /* aspect-ratio: 8/9; */
}
.action_btns button span{
  color: var(--WHITE);
  font-size: 14px;
  font-weight: 600;
}

.action_btns button:hover{
  /* background-color: var(--PRIMARY_COLOR_LIGHT);
  border: 1px solid var(--PRIMARY_COLOR_DARK); */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}


/* About styling */
.about{
  width: 100%;
  height: auto;
  background: url("../img/about_bg.svg") no-repeat;
  padding: 40px 0;
}
.about .section_heading{
  margin-bottom: 24px;
}
.about .section_subheading{
  margin-bottom: 8px;
}
.about_img{
  border-radius: 16px;
  overflow: hidden;
  filter: drop-shadow(20px 20px 0px var(--PRIMARY_COLOR_DARK));
}
.about_img img{
  
}

/* Vision and Mission styling */
.vision_mission{
  background: var(--PRIMARY_COLOR_DARK);
  padding: 40px 0;
}
.vm_card{
  width: 100%;
  height: 100%;
  background: var(--WHITE);
  border-radius: 8px;
  padding: 24px;
}
.vm_card h5{
  color: var(--PRIMARY_COLOR_DARK);
  font-size: 20px;
  font-weight: 600;
}
.vm_card h5 i{
  margin-right: 8px;
}
.mission_card ul{
  padding-left: 24px;
}
.mission_card ul li{
  list-style-type: disc;
  line-height: 21px;
}

/* Scheme styling */
.scheme_section{
  /* background: var(--PRIMARY_COLOR_DARK); */
  padding: 40px 0;
  /* background: url("/assets/img/"); */
}
.ss_btn_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-top: 36px;
}

.ss_btn_list .ss_btn {
  height: 50px;
  font-size: 0.95rem;
  color: var(--PRIMARY_COLOR_DARK);
  background-color: var(--WHITE);
  border: 1px solid var(--PRIMARY_COLOR_DARK);
  border-bottom: 4px solid var(--PRIMARY_COLOR_DARK);
  border-radius: 8px;
  padding: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ss_btn_list .ss_btn:hover {
  background-color: var(--PRIMARY_COLOR_DARK);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
}

/* Notification styling */

.notification_section{
  background-image: linear-gradient(to right, var(--TEXT_COLOR_LIGHT) , var(--PRIMARY_COLOR_LIGHT));
  padding: 40px 0;
}

.notification_container {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 40px;
  box-shadow: 0px 5px 10px #0000004a;
}
.notification_container .header {
  background-color: #0f7a63;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
}
.notification_container .content {
  padding: 16px;
}
.notification_container .image-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.notification_container .image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}
.notification_container .text-box {
  position: absolute;
  top: 30px;
  left: 5px;
  background-color: #d94a3a;
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
  line-height: 1.2;
  padding: 24px 24px 24px 24px;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notification_container ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  color: #0f7a63;
  font-size: 14px;
}
.notification_container ul li {
  margin-bottom: 6px;
  display: flex;
  align-items: flex-start;
}
.notification_container ul li::before {
  content: "•";
  margin-right: 8px;
  color: var(--TEXT_COLOR_DARK);
}
.notification_container ul li a{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--TEXT_COLOR_DARK);
}
.notification_container ul li.new_active::before,
.notification_container ul li.new_active a{
  color: var(--PRIMARY_COLOR_DARK);
}
.notification_container ul li a:hover{
  color: var(--INFO_COLOR);
  text-decoration: underline;
}
.notification_container .new-label {
  font-weight: 700;
  font-size: 10px;
  background: linear-gradient(90deg, #ec4899, #facc15, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: auto;
}
.notification_container a.view-more {
  display: inline-flex;
  align-items: center;
  margin-top: 12px;
  font-weight: 600;
  font-size: 14px;
  color: var(--INFO_COLOR);
  text-decoration: none;
}
.notification_container a.view-more i {
  margin-left: 6px;
}
.notification_container a.view-more:hover i {
  animation: bounceArrow 1s infinite;
}
@keyframes bounceArrow {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}
@media (max-width: 480px) {
  .text-box {
    max-width: 70%;
    font-size: 18px;
    padding: 16px 16px 16px 16px;
  }
}

/* Dashboard Statistics styling */

.d_statistics_box{
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #0D7C6605, #0D7C6620);
  border: 1px solid var(--BORDER_LIGHT);
  border-radius: 24px;
  margin: 40px auto;
}
.d_statistics_box .section_heading{
  margin-top: 48px;
}
.d_statistics_box .section_subheading{
  margin-bottom: 48px;
}
.d_statistics_card {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 1rem;
}

.d_statistics_list {
  text-align: center;
  border-right: 1px solid var(--BORDER_LIGHT);
  margin-top: 36px;
  margin-bottom: 8px;
  transition: transform 0.3s ease;
}
.d_statistics_list:last-child{
  border: none;
}

.d_statistics_list img {
  width: 36px;
  height: auto;
  margin-bottom: 16px;
}

.d_statistics_list h6 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: var(--TEXT_COLOR_DARK);
}

.d_statistics_list p {
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0 0;
  color: var(--TEXT_COLOR_MEDIUM);
}

/* IMP Lnk Styling */
.imp_link_row .item {
    background: #ff3f4d;
}
.imp_link_row h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}