@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Great+Vibes&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
}

body{
  background: #FCFCFC;
}

.heading1 {
  font-size: 1.875rem;
  color: #051937;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.heading2{
  font-size: 18px;
  color: #051937;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.sub_heading1{
  font-size: 1rem;
  color: #6a7987;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.btn_1 {
  font-size: 14px !important;
  text-transform: uppercase;
  background-color: transparent !important; /* Example button background */
  border: 1px solid #051937 !important;
  border-radius: 0 !important;
  padding: 8px 24px !important;
  color: #051937 !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  &:hover{
    color: #FFFFFF !important;
    background-color: #051937 !important; /* Hover effect for button */
  }
}

.top_section_1, .top_section_2{
  width: 100%;
  height: 34px;
  background: #051937;
  display: flex;
  justify-content: center;
  align-items: center;
  h6{
    color: #FCE6DC;
    padding-right: 20px;
    border-right: 2px solid #FCE6DC;
    margin-bottom: 0;
    &:nth-child(2){
      padding: 0 16px;
    }
    &:last-child{
      padding-left: 20px;
      padding-right: 0;
      border: none;
    }
  }
}
.top_section_2{
  background: #FCE6DC;
  display: flex;
  justify-content: center;
  align-items: center;
  h6{
    color: #051937;
    span{
      color: #05193740;
    }
  }
}

.search_bar{
  position: relative;
  input{
    width: 562px;
    height: 40px;
    background: #F1F3F5 !important;
    font-size: 13px;
    color: #B6BDC5;
    border-radius: 0 !important;
    padding: 10px 16px 10px 40px;
    &:focus {
      font-size: 16px;
      color: #051937;
      border-color: #051937;
      outline: 0;
      box-shadow: none;
    }
  }
  a{
    position: absolute;
    left: 10px; 
    top: 10px;
  }
}

.fixed_top {
  width: 100%;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 11111;
  box-shadow: 0 3px 11px 0 #05193724;
}

.navbar{
  position: absolute; /* Initial position */
  top: 0;
  left: 0;
  transition: top 0.3s !important; /* Smooth transition */
  background: #FFFFFF;
  border-bottom: 1px solid #dee2e6;
}
.main_logo{
  display: block;
}
.logo_icon{
  width: 100%;
  height: 44px;
  display: none;
}
.menu{
  position: relative;
  .menu_list{
    li{
      a{
        font-weight: 500;
        color: #051937;
        padding-left: 24px !important;
        padding-right: 24px !important;
        border-bottom: 3px solid transparent;
        /* Add transition for smooth effect */
        transition: border-color 0.5s ease-in-out;
        &.active{
          border-color: #051937;
        }
      }
    }
  }
  .navbar_icon_list{
    position: absolute;
    right: 0;
    top: 0;
    ul{
      li{
        a{
          font-size: 18px;
          padding-left: 16px !important;
          padding-right: 16px !important;
          &.active{
            border-bottom: none;
          }
        }
      }
    }
  }
}
.navbar_icon_list{
  ul{
    li{
      .nav-link{
        i{
          font-size: 20px !important;
        }
      }
    }
  }
}

// Navbar end here


// banner start here
.banner{
   /* Set the background image */
   background: #FCE6DC url('../img/banner.png'); /* Replace with your image path */
    
   /* Control the background size and position */
   background-size: contain; /* Ensures the image covers the entire section */
   background-position: right; /* Centers the image */
   background-repeat: no-repeat; /* Prevents the image from repeating */
   
   /* Set height for the banner section */
   height: 400px; /* Adjust the height as needed */

   /* Optional: Add some padding or other styles */
   display: flex;
   align-items: center;
   justify-content: center;
   color: #051937; /* Text color for visibility over the image */
   h2, p {
    margin: 0;
  }
  h2{
    width: 50%;
    // font-size: 44px;
    font-size: 60px;
    font-family: "Great Vibes" !important;
    font-weight: 400;
    // text-transform: uppercase;
  }
  p{
    font-size: 24px;
    margin: 20px 0 30px;
  }
}

// banner end here

// Discover By Category Start here 
.home_card{
  width: 100%;
  position: relative;
  overflow: hidden;
  .home_card_img{
    width: 100%;
        height: auto;
    img{
      width: 100%;
    }
  }
  .home_card_border{
    width: 100%;
    height: 3px;
    background: #051937;
    position: absolute;
    right: 100%;
    bottom: 0;
    transition: 0.3s ease-in-out;
  }
  &:hover{
    .home_card_border{
      right: 0%;
    }
  }
}
.owl-carousel{
  .owl-stage-outer{
    margin-top: 0px !important;
  }
  .owl-nav{
    position: absolute;
    top: -70px;
    right: 0;
    left: auto;
    display: flex;
    justify-content: flex-end;
    button{
      width: 38px;
      height: 38px;
      font-size: 14px !important;
      background-color: transparent !important; /* Example button background */
      border: 1px solid #051937;
      border-radius: 0 !important;
      margin: 0 !important;
      color: #051937 !important;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover{
        color: #FFFFFF !important;
        background-color: #051937 !important; /* Hover effect for button */
      }
      span{
        display: none;
      }
    }
    button.owl-prev{
      &::before{
        font-family: "Font Awesome 6 Free"; /* Set the Font Awesome font family */
          content: "\f177"; /* Unicode for the search icon */
          font-weight: 900; /* Set the appropriate weight (solid) */
      }
    }
    button.owl-next{
      &::before{
        font-family: "Font Awesome 6 Free"; /* Set the Font Awesome font family */
          content: "\f178"; /* Unicode for the search icon */
          font-weight: 900; /* Set the appropriate weight (solid) */
      }
    }
    
    
  }
}

.owl-theme .owl-dots{
  display: none;
}

// Discover By Category end here 

// .text-between {
//   font-size: 45px;
//   color: #FFFFFF;
//   position: relative;
//   display: inline-block;
//   padding: 0 125px;
// }
// .text-between:before {
//   content: "";
//   left: 0;
// }
// .text-between:after {
//   content: "";
//   right: 0;
// }
// .text-between:after, .text-between:before {
//   position: absolute;
//   top: 50%;
//   height: 1px;
//   width: 100px;
//   margin-top: 5px;
//   background: #fff;
//   transform: translateY(-50%);
// }

// sophistication start here

.sophistication {
  /* Set the background image */
  background-image: linear-gradient( 90deg, #FFFFFF70, #FFFFFF00), url('../img/image.png'); /* Replace with your image path */
  
  /* Control the background size and position */
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed;
  /* Set height for the banner section */
  height: 380px; /* Adjust the height as needed */

  /* Optional: Add some padding or other styles */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #051937; /* Text color for visibility over the image */
  h2, p {
    margin: 0;
  }
  h2{
    font-size: 70px;
    font-family: "Great Vibes" !important;
    font-weight: 400;
    // text-transform: uppercase;
  }
  h6, p{
    font-size: 24px !important;
    font-weight: 400;
    color: #05193795;
    margin: 0;
  }
}
// sophistication end here

// Trending  start here
.trending{
  padding: 100px 0;
  background: #FCFCFC;  
  .nav-pills{
    .nav-item{
      .nav-link{
        font-size: 14px !important;
        background-color: transparent !important; /* Example button background */
        border: 1px solid transparent !important;
        border-radius: 0 !important;
        padding: 8px 24px !important;
        color: #051937 !important;
        cursor: pointer !important;
        transition: background-color 0.3s ease !important;
        &:hover{
          color: #FFFFFF !important;
          background-color: #051937 !important; /* Hover effect for button */
        }
        
        &.active{
          color: #FFFFFF !important;
          background-color: #051937 !important; /* Hover effect for button */
          border: 1px solid #051937 !important;
          &:hover{
            color: #FFFFFF !important;
            background-color: #051937 !important; /* Hover effect for button */
          }
        }
      }
    }
  }
}
// Trending  end here

// home_gift start here
.home_gift{
  padding: 100px 0;
  background: #FCFCFC;
}
// home_gift end here

// Accessories start here
.accessories{
  padding: 100px 0;
  background: #FCFCFC;
}
.p_card{
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #FCE6DC;
  border-radius: 0;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
  .card_body{
    width: 100%;
    height: 170px;
    align-content: center;
    overflow: hidden;
  }
  .card_footer{
    background: #FCE6DC;
    color: #051937;
    h6, p {
      margin: 0;
    }
    p{
      font-size: 14px;
    }
    h6{
      font-size: 14px;
      font-weight: 500;
    }
    .card_add{
      i{
        font-size: 24px;
        
      }
    }
  }
  &:hover{
    border: 1px solid #051937;
    box-shadow: 0px 0px 10px #05193710;
  }
}

// Accessories end here

// home_elementor start here 
.home_elementor{
  background: #FCE6DC;
  padding: 50px 0;
  img{
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 24px;
  }
  .heading1{
    font-size: 20px;
    color: #051937;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
  .sub_heading1{
    font-size: 16px;
    color: #051937;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}
// home_elementor end here 

// Testimonial start here
.testimonial{
  padding: 100px 0;
  background: #FCFCFC;
  .testimonial_outer{
    position: relative;
    padding-top: 50px;
    .testimonial_list{
      background-color: transparent;
      margin: 0 15px 0 0;
      display: flex;
      justify-content: center;
      text-align: center;
      .cust_img{
        width: 100px;
        height: 100px;
        overflow: hidden;
        display: inline-block;
        margin: 24px auto;
        img{
          width: 100%;
          height: auto;
        }
      }
      h3{
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        color: #6a7987;
        margin-bottom: 20px;
      }
      p{
        font-size: 14px;
        font-weight: 400;
        color: #051937;
      }
    }
    .slick-next, .slick-prev{
      width: 38px;
      height: 38px;
      font-size: 0;
      background-color: transparent !important; /* Example button background */
      border: 1px solid #FFFFFF;
      border-radius: 0 !important;
      margin: 0 !important;
      color: #051937 !important;
      z-index: 5;
      cursor: pointer;
      position: absolute;
      transition: background-color 0.3s ease;
      &:hover{
        color: #FFFFFF !important;
        background-color: #051937 !important; /* Hover effect for button */
        &::before{
          color: #FFFFFF;
        }
      }
      span{
        display: none;
      }
    }
    button.slick-prev{
      top: 0%;
      right: auto;
      left: 47%;
      &::before{
        font-size: 14px;
        font-family: "Font Awesome 6 Free"; /* Set the Font Awesome font family */
          content: "\f177"; /* Unicode for the search icon */
          font-weight: 900; /* Set the appropriate weight (solid) */
      }
    }
    button.slick-next{
      top: 0%;
      right: 47%;
      left: auto;
      &::before{
        font-size: 14px;
        font-family: "Font Awesome 6 Free"; /* Set the Font Awesome font family */
          content: "\f178"; /* Unicode for the search icon */
          font-weight: 900; /* Set the appropriate weight (solid) */
      }
    }
    .slick-dots{
      display: none !important;
    }
  }
}
// Testimonial end here

// Footer start here
.footer{
  padding: 100px 0;
  background: #FCE6DC;
  .footer_col{
    .heading2{
      margin-bottom: 24px;
    }
    ul{
      li{
        margin-bottom: 8px;
        a{
          font-size: 16px;
          color: #051937;
          cursor: pointer;
          transition: 0.3s ease-in-out;
          &:hover{
            font-weight: 600;
          }
        }
        .enq_support{
          text-decoration: none;
          &:hover{
            font-weight: 400;
            span{
              transition: 0.3s ease-in-out;
              &:last-child{
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    &:nth-child(2){
      padding-left: 60px;
    }
    .contact_ul{
      margin-top: 24px;
      ul{
        li{
          float: left;
          margin-right: 24px;
          a{
            font-size: 24px;
            transition: 0.3s ease-in-out;
            &:hover{
              color: #6a7987;
            }
          }
        }
      }
    }
  }
  .footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer_copyrigh{
      p{
        font-size: 14px;
        margin-bottom: 0;
      }
    }
    .footer_pt{
      ul{
        padding-left: 0;
        margin-bottom: 0;
        li{
          float: left;
          font-size: 24px;
          margin-left: 10px;
        }
      }
    }
  }
}

// Footer end here

// product card start here
.trendin_product_col{
  padding: 8px !important;
}
.product_card{
  width: 100%;
  margin-bottom: 24px;
  background: #FFFFFF;
  padding: 8px 16px;
  .product_card_top{
    width: 100%;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    .product_card_badges{
      position: absolute;
      top: 4px;
      left: 8px;
      .sale{
        font-size: 10px;
        font-weight: 500;
        color: #f03e3e;
        border: 1px solid #f03e3e;
        padding: 0 0.375rem;
        height: 1.375rem;
      }
    }
    .product_card_badges_icon_buttons{
      position: absolute;
      top: 8px;
      right: 8px;
      display: inline-flex;
      flex-direction: column;
      .product_card_badges_icon_btn{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        i{
          font-size: 14px !important;
          color: #051937;
        }
        &:hover{
          background: #051937;
          border-radius: 20px;
          i{
            color: #FFFFFF;
          }
        }
      }
    }
    .product_card_img{
      width: 100%;
      height: 200px;
      // background: #6a7987;
      a{
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        img{
          // width: 100%;
          max-width: 100%;
        }
      }
    }
    .product_card_footer_btn{
      width: 100%;
      position: absolute;
      bottom: -40px;
      transition: 0.3s ease-in-out;
      .product_card_add_cart_btn{
        width: 100%;
        font-size: 14px !important;
        text-transform: uppercase;
        background-color: #FCFCFC !important; /* Example button background */
        border: 1px solid #051937 !important;
        border-radius: 0 !important;
        padding: 8px 24px !important;
        color: #051937 !important;
        cursor: pointer !important;
        transition: background-color 0.3s ease !important;
        &:hover{
          color: #FFFFFF !important;
          background-color: #051937 !important; /* Hover effect for button */
        }
      }
    }
    &:hover{
      .product_card_footer_btn{
        bottom: 0;
      }
    }
  }
  .product_card_detail{
    .product_card_type{
      a{
        font-size: 0.75rem;
        font-weight: 600;
        color: #6a7987;
        text-transform: uppercase;
      }
    }
    .product_card_title{
      a{
        font-size: 16px;
        font-weight: 500;
        color: #051937;
        display: -webkit-box;
        color: currentColor;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 8px 0;
        &:hover{
          text-decoration: underline !important;
        }
      }
    }
    .product_card_price{
      span{
        font-size: 16px;
        font-weight: 600;
        color: #051937;
        padding-bottom: 16px;
      }
    }
    .product_card_rating{
      i{
        font-size: 12px;
        color: #051937;
      }
      .count_text{
        font-size: 12px;
        color: #051937;
      }
    }
  }
}

// product card end here



.mobile_search_bar, .mobile_navbar_icon_list{
  display: none;
}
.offcanvas_menu{
  display: none !important;
}
.navbar-toggler{
  border: none !important;
  box-shadow: none !important;
}
.destop_top_section_1{
  // display: block;
}
.mobile_top_section_1{
  display: none;
}
marquee{
  float: left;
  background: #051937;
  margin-bottom: 0;
}

/*  breadcrumb start here  */
.breadcrumb_section{
  padding: 8px 0;
  .breadcrumb{
    li{
      font-size: 13px;
      color: #6a7987;
    }
  }
}
/*  breadcrumb end here  */

.filter_clear_btn{
  font-size: 14px !important;
  height: 34px;
  text-transform: uppercase;
  background-color: transparent !important; /* Example button background */
  border: 1px solid #051937 !important;
  border-radius: 50px !important;
  padding: 6px 16px !important;
  color: #051937 !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
  &:hover{
    color: #FFFFFF !important;
    background-color: #051937 !important; /* Hover effect for button */
  }
}

/* Shop Filter start here */
.shop_filter{
  .filter_header{
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 7px;
    h5{
      font-size: 18px;
    }
  }
  .filter_type{
    padding-bottom: 16px;
    border-bottom: 1px solid #dee2e6;
    .filter_type_header{
      padding: 16px 0;
      h6{
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.3px;
        margin-bottom: 0;
      }
    }
    .filter_type_body{
      form{
        label{
          font-size: 14px;
          color: #6a7987;
        }
        input{
          width: 100%;
          height: 34px;
          background: #F1F3F5 !important;
          font-size: 14px;
          color: #B6BDC5;
          border-radius: 0 !important;
          padding: 10px;
          &:focus {
            color: #051937;
            border-color: #051937;
            outline: 0;
            box-shadow: none;
          }
        }
        .price_label{
          font-size: 14px;
        }
      }
      ul{
        padding: 0;
        margin: 0;
        li{
          padding: 6px 0;
          &:first-child{
            padding-top: 0;
          }
          a{
            font-size: 14px;
            cursor: pointer;
            .form-check{
              input, label{
                cursor: pointer;
              }
              label{
                span{
                  color: #B6BDC5;
                }
              }
            }
          }
        }
      }
    }
  }
}


/* Shop Filter end here */

.shop_container{
  .shop_container_header{
    font-size: 14px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .short_dropdown{
      width: auto;
      label{
        // width: 65px;
        color: #6a7987;
      }
      select{
        width: auto;
        height: 25px;
        padding: 0 30px 0 4px;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #051937;
        border-radius: 0;
      }
    }
  }
}

.remove_filter{
  ul{
    padding: 0;
    margin-bottom: 0;
    li{
      float: left;
      border-left: 1px solid #051937;
      padding: 0 10px;
      &:first-child{
        border-left: none;
        padding: 0 10px 0 0;
      }
      .remove_filter_element{
        font-size: 14px !important;
        color: #051937;
        cursor: pointer;
        &:hover{
          color: #f03e3e;
        }
      }
    }
  }
}

.short_filter_section{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dee2e6;
  display: none;
  ul{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    li{
      width: 100%;
      height: 40px;
      text-align: center;
      align-content: center;
      float: left;
      &:first-child{
        border-right: 1px solid #dee2e6;
      }
      a{
        width: 100%;
        height: auto;
        background: #05193730;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) --------------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
  .navbar{
    padding-top: 0 !important;
  }
  .destop_top_section_1{
    display: none;
  }
  .mobile_top_section_1{
    display: inline-flex;
  }
  .mobile_search_bar{
    display: block;
    width: 70% !important;
  }
  .mobile_navbar_icon_list{
    display: block;
  }
  .offcanvas_menu{
    display: block !important;
  }
  .menu_list{
    margin-bottom: 0 !important;
  }
  .desktop_menu{
    display: none;
  }
  .search_bar{
    width: 100%;
    input{
      width: 100%;
    }
  }
  .menu.show{
    display: flex;
    flex-direction: column;
    .navbar-nav-scroll {
      overflow-y: visible;
    }
    .navbar_icon_list{
      position: static;
    }
  }
}



// .mobile-bottom-nav{
// 	position:fixed;
// 	bottom:0;
// 	left:0;
// 	right:0;
// 	z-index:1000;
// 	will-change: transform;
// 	transform: translateZ(0);	
// 	height:50px;
	
// 	box-shadow: 0 -2px 5px -2px #333;
// 	background-color:#fff;
	
// 	&__item{
// 		flex-grow:1;
// 		text-align:center;
// 		font-size:12px;
		
// 		display:flex;
// 		flex-direction:column;
// 		justify-content:center;
// 	}
// 	&__item--active{
// 		color:red;
// 	}
// 	&__item-content{ 
// 		display:flex;
// 		flex-direction:column;		
// 	}
// }

.offcanvas.offcanvas-bottom{
  min-height: 100vh;
  max-height: calc( 100vh - 200px ) !important;
  overflow-y: auto;
  z-index: 11111 !important;
}
.offcanvas.offcanvas-bottom.shop{
  z-index: 11111 !important;
}

// .mobile-bottom-nav{
//   display: none;
// }
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mobile_section_padding{
    padding: 50px 0;
  }
  .mobile_search_bar{
    width: 60% !important;
  }
  .main_logo{
    display: none;
  }
  .logo_icon{
    display: block;
  }
  // .mobile-bottom-nav{
  //   display: flex !important;
  // }
  .font_size_14{
    font-size: 14px !important;
  }
  .top_section_2 h6{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .banner{
    background-size: cover;
    background-image: linear-gradient( 90deg, #FFFFFF70, #FFFFFF00), url('../img/banner.png');
  
    h2{
      width: 100%;
      text-shadow: 2px 1px 3px #05193730;
    }
  }
  .heading1 {
    font-size: 24px;
  }
  .owl-carousel{
    margin-top: 50px !important;
    .owl-nav{
      top: -70px;
      justify-content: center;
      padding-left: 40px;
    }
  }
  .sophistication {
    height: 500px;
    h2{
      width: 100%;
    }
  }
  .trending{ 
    .nav-pills{
      .nav-item{
        .nav-link{
          padding: 8px 12px !important;
        }
      }
    }
    .trendin_product_col{
      width: 50%;
      .product_card {
        padding: 0;
        .product_card_footer_btn{
          bottom: 0;
        }
      }
    }
  }
  .home_elementor{
    padding-top: 0;
    img{
      margin-top: 50px;
    }
  }
  .home_card{
    margin-bottom: 24px;
  }
  .testimonial{
    .testimonial_outer{
      .testimonial_list{
        h3{
          line-height: 36px;
        }
      }
      button.slick-prev{
        left: 39%;
      }
      button.slick-next{
        right: 39%;
      }
    }
  }
  .footer{
    .footer_col{
      margin-top: 30px;
      &:nth-child(2){
        padding-left: 10px;
      }
    }
    .footer_bottom{
      flex-direction: column;
    }
  }
  .product_col{
    width: 50% !important;
  }
  .shop_filter_desktop{
    display: none;
  }
  .filter_type_body{
    form{
      .row{
        div{
          width: 50%;
        }
      }
    }
  }
  .shop_container{
    .shop_container_header{
      display: none;
      flex-direction: column;
      align-items: flex-start;
      .remove_filter{
        margin-bottom: 10px;
      }
      .short{
        width: 100%;
        justify-content: space-between;
      }
    }
  }
  .short_filter_section{
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  .mobile_search_bar{
    width: 50% !important;
  }
}